{% load compile_static %}
{% load static %}

html
  head"
      link(href='{% static "base.scss" %}',rel="stylesheet",type="text/css")

    script(type="text/javascript", src="{% static 'base.coffee'|compile %}")
    img(src="{% static 'example.jpg' %}",alt="My image")
  body
    {% block content %}
    {% endblock %}