{% load compile_static %}
{% load static %}
{% load sass_tags %}

html
  head
    link(href='{% sass_src "base.scss" %}',rel="stylesheet",type="text/css")

  script(type="text/javascript", src="{% static 'base.coffee'|compile %}")
  body
    header
      div.small-strip
        span Track Order
        span Account
        span Cart
        span Wishlist
      {% block menu %}
      div.menu
          span.logo
      {% endblock %}
    div.content
      {% block content %}
      {% endblock %}

  link(href="https://fonts.googleapis.com/css?family=Cabin|Merienda|Rock+Salt&display=swap" ,rel="stylesheet") 