{% extends 'base.pug' %}
{% load static %}
{% block menu %}{% endblock %}
{% block content %}

div#menuBar.index-menu-bar
  h1 graphic tshirts
  div.logo

div.coverimage.carasol
  {% for i in images %}
  div.carasol-item(class="item{{i}}")
  {% endfor %}
div.gender
  
{% endblock %}