{% extends 'base.pug' %}
{% load static %}
{% block content %}

div.coverimage.carasol
  {% for i in images %}
  div.carasol-item(class="item{{i}}")
  {% endfor %}
section.variants
  div.variant
    a.op.gender-female(href="{%url 'product_listing' %}?gender=female")
      p 
        ! Female
    a.op.gender-male(href="{%url 'product_listing' %}?gender=male")
      p 
        ! Male

  //- {% for v in variants %}
  //- div.variant
  //-   {% for op in v.options %}
  //-   div.op
  //-     p 
  //-       {{op}}
  //-   {%endfor %}
  //- {%endfor %}
{% endblock %}